.hint {
  position: relative;
  display: inline-block;
  padding: 1px;
}
.hint::after {
  content: ' ';
  position: absolute;
  align-items: center;
  overflow: hidden;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background: white;
  border-radius: 3px;
  border: 1px solid rgba(0, 0, 0, 255);
}
.hint:hover::after {
  display: none;
}

.markdown-body h4 code {
  font-size: 16px;
}
.markdown-body h5 code {
  font-size: 14px;
}

.markdown-body {
  box-sizing: border-box;
  min-width: 200px;
  max-width: 980px;
  margin: 45px auto;
  padding: 45px;
  border: 1px #ddd solid;
  border-radius: 3px;
}

.markdown-body > pre {
  padding: 11px;
}

.CodeMirror {
  display: none;
  border: none;
  font: 13.6px Consolas, 'Liberation Mono', Menlo, Courier, monospace;
  line-height: 19.72px;
}

.CodeMirror-linenumber:hover {
  color: #777;
}

#playground .CodeMirror {
  display: block;
}

.klipse-snippet .CodeMirror {
  border: 1px #f7f7f7 solid;
  border-radius: 5px;
}

.markdown-body > pre > code {
  display: block;
  padding: 5px;
}

.klipse-snippet .CodeMirror:hover {
  border: 1px #ddd solid;
}

.klipse-result .CodeMirror {
  background: #f7f7f7;
}

.klipse-result .CodeMirror {
  background: transparent;
  filter: brightness(50%);
  opacity: 0.85;
}

.klipse-container {
  display: none;
}

.klipse-separator {
  display: none;
}

.preview-anchor {
  position: relative;
}

.preview {
  display: none;
  position: absolute;
  background-color: white;
  border-radius: 6px;
  box-shadow: 2px 4px 16px 0 rgba(0, 0, 0, 0.4);
  padding: 0 1em;
  bottom: 140%;
  left: 50%;
  width: 40em;
  overflow: auto;
  transform: translate(-25%, 0);
  font-size: 90%;
  z-index: 100000;
  color: rgb(51, 51, 51);
  font-weight: normal;
  line-height: 1.5;
  white-space: normal;
}

.preview-anchor:hover .preview {
  display: block;
}

.markdown-body table {
  overflow: inherit;
}

.loading-message {
  position: fixed;
  display: block;
  z-index: 100000;
  bottom: 0px;
  left: 0%;
  right: 0%;
  background: #e77;
  padding: 0.5em 1em;
  color: white;
  opacity: 0.9;
  text-align: center;
}

.loading-hidden {
  display: none;
}

.menu .menu-body {
  -ms-overflow-style: -ms-autohiding-scrollbar;
  position: fixed;
  display: flex;
  left: 0;
  top: 0;
  height: 100%;
  z-index: 10000;
  white-space: nowrap;
  font-size: 90%;
  min-width: 20px;
  max-width: 20px;
  transition: all 250ms;
  box-shadow: 2px 0 8px 0 rgba(0, 0, 0, 0.4);
  background: #eee;
  color: #000;
  overflow-y: scroll;
}

.menu.open .menu-body {
  min-width: 40%;
  max-width: 100%;
  background: #fff;
  color: #333;
}

.menu .menu-side {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 20px;
  text-align: center;
  cursor: pointer;
}

.menu .menu-overlay {
  z-index: 1000;
  position: fixed;
  opacity: 0;
  background: black;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  transition: opacity 250ms;
}

.menu.open .menu-overlay {
  width: 100%;
  height: 100%;
  opacity: 0.5;
}

.menu .menu-contents {
  display: none;
  padding: 0 2em 0 20px;
}

.menu.open .menu-contents {
  display: block;
  margin-top: 1em;
}

.menu .menu-contents ul {
  list-style-type: none;
  padding-left: 1em;
}
