.markdown-body h4 code { font-size: 16px; }
.markdown-body h5 code { font-size: 14px; }

.markdown-body {
  box-sizing: border-box;
  min-width: 200px;
  max-width: 980px;
  margin: 45px auto;
  padding: 45px;
  border: 1px #ddd solid;
  border-radius: 3px;
}

.markdown-body > pre {
  padding: 11px;
}

.CodeMirror {
  border: none;
  font: 13.6px Consolas, "Liberation Mono", Menlo, Courier, monospace;
  line-height: 19.72px;
}

.CodeMirror:first-of-type {
  border: 1px #f7f7f7 solid;
  border-radius: 5px;
}

.markdown-body > pre > code {
  display: block;
  padding: 5px;
}

.CodeMirror:first-of-type:hover {
  border: 1px #ddd solid;
}

.CodeMirror:last-of-type {
  background: #f7f7f7;
}

.CodeMirror:last-of-type {
  background: transparent;
  filter: brightness(50%);
  opacity: 0.85;
}

.klipse-container {
  display: none;
}

.preview-anchor {
  position: relative;
}

.markdown-body div.preview {
  display: none;
  position: absolute;
  background-color: white;
  border-radius: 6px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 0 1em;
  bottom: 140%;
  left: 50%;
  width: 40em;
  overflow: auto;
  transform: translate(-20%, 0);
  font-size: 90%;
  z-index: 100;
  color: rgb(51, 51, 51);
  font-weight: normal;
  line-height: 1.5;
}

.markdown-body div.preview * {
  font-size: 90%;
}

.markdown-body a.preview-anchor:hover div.preview {
  display: block;
}

.markdown-body table {
  overflow: inherit;
}

.loading-message {
  position: fixed;
  display: block;
  z-index: 1000;
  bottom: 0px;
  left: 0%;
  right: 0%;
  background: #e77;
  padding: 0.5em 1em;
  color: white;
  opacity: 0.9;
  text-align: center;
}

.loading-hidden {
  display: none;
}
